<!DOCTYPE html>
<html>
<head>
    <title>Query 5</title>
</head>
<body>
<h1>A query that compares a value in the outer query to a value returned by the inner query</h1>
Query:<br />
SELECT first_name, last_name, COUNT(main_id) - 1 AS alt_no FROM player_character<br />
GROUP BY main_id<br />
HAVING COUNT(main_id) >= (<br />
&nbsp &nbsp SELECT AVG(a.count) FROM (<br />
&nbsp &nbsp &nbsp &nbsp SELECT COUNT(main_id) AS count FROM player_character GROUP BY main_id) a); <br /> <br />
Explanation: Returns the name and number of alts of each character with more alts than average <br /> <br />
Result:
<table border="1">
    <tr><th>first_name</th><th>last_name</th><th>alt_no</th></tr>
    <% for(var i = 0; i < result.length; i++) { %>
    <tr>
        <td>
            <%= result[i].first_name %>
        </td>
        <td>
            <%= result[i].last_name %>
        </td>
        <td>
            <%= result[i].alt_no %>
        </td>
    </tr>
    <% } %>
</table>
</body>
</html>