<!DOCTYPE html>
<html>
    <head>
        <title>FFXIV FCMD</title>
    </head>
    <body>
        <h1>Welcome to the FFXIV Free Company Managment Database!</h1> <br />
        <b>Database Access Links: </b><br />
        <a href="/character/all">View index of FC members</a> <br />
        <a href="/rank/all">View index of FC ranks</a> <br />
        <a href="/class/all">View index of FFXIV's avalible classes</a> (THIS PAGE IS FOR COMPLETENESS PURPOSES AND IS NOT INTENDED TO BE EDITED BY END USER)<br />
        <a href="/privlege/all">View index of privileges that can be granted to a rank</a> (THIS PAGE IS FOR COMPLETENESS PURPOSES AND IS NOT INTENDED TO BE EDITED BY END USER)<br />
        <br />
        <b>Query Links: </b><br />
        <a href="/queries/1">A query using a correlated subquery</a> <br />
        <a href="/queries/2">A query using a subquery in a JOIN</a> <br />
        <a href="/queries/3">A query using a subquery with IN or NOT IN</a> <br />
        <a href="/queries/4">A query using a subquery EXISTS or NOT EXISTS</a> <br />
        <a href="/queries/5">A query that compares a value in the outer query to a value returned by the inner query</a> <br />
        <a href="/queries/6">A query using GROUP BY</a> <br />
        <a href="/queries/7">A query utilizing a JOIN, GROUP BY, HAVING and an derived function (avg, min, max, etc.)</a> <br />
        <a href="/queries/8">A query using ORDER BY</a> <br />
        <a href="/queries/9">A query using a UNION</a> <br />
        <a href="/queries/10">A query using DISTINCT</a> <br />
    </body>
</html>
