<!DOCTYPE html>
<html>
<head>
    <title>Update Privilege</title>
</head>
<body>
<h1>Update Privilege</h1>
<form action="/privlege/update" method="get">
    <input type="hidden" id="privlege_id" name="privlege_id" value="<%= result.privlege_id%>">
    Privilege Name: <input id="privlege_name" name="privlege_name" type="text" value="<%= result.privlege_name%>"> <br />
    <input type="submit" />
</form>
</body>
</html>