<!DOCTYPE html>
<html>
<head>
    <title>Add Class</title>
</head>
<body>
<h1>Add New Class</h1>
<form action="/class/insert" method="get">
    Name: <input name="name" type="text" />
    <br />
    Acronym: <input name="acronym" type="text" />
    <br />
    Role: <input name="role" type="text" />
    <br />
    <input type="submit" />
</form>
</body>
</html>